@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Shared Styles */
p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

button {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

button:hover {
    background: #5eee0a;
    cursor: pointer;
    transition: all 1s;
}

h2 {}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;

}

/* Header */
header,
#hot-deal {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;

}

/* Header Banner Section */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Banner Text */

.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525px;
    ;
}

/* Banner Image */
.banner .banner-image img {
    width: 100%;
    vertical-align: middle;

}


/* Featured Section */
#featured {
    padding: 150px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: end;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 15px 0;
    height: 400px;
    display: flex;
    align-items: end;



}

.section-content .flower .flower-img img {
    width: 100%;
    height: 100%;

}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {

    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {

    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    margin-top: 32px;
}

/* Hot Deal Section */
.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

#hot-deal .hot-deal-text {
    max-width: 75%;
    max-width: 550px;

}

#hot-deal .hot-deal-text * {
    margin-bottom: 24px;
}

#hot-deal .hot-deal-text h2 {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#hot-deal .hot-deal-text .hot-deal-off-text {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#hot-deal .hot-deal-image {
    max-width: 318px;
}

/* Section Instagram */
#section-insta .container {
    margin: 128px auto;
}

#section-insta .container .insta-text {
    text-align: center;
}
#section-insta .container .insta-text p{
    margin-top: 24px;
}

#section-insta .insta-pic {
    display: flex;
    align-items: center;
    margin-top: 48px;
    
}

#section-insta .insta-pic .pic-1 img{
    width: 350px;
    height: 375px;
    padding: 0 24px;
}
